@page
@model RestoStockWeb.Pages.Pedidos.PedCreateModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<h2>Pedido</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="pedido.FechaPedido" class="control-label"></label>
                <input asp-for="pedido.FechaPedido" class="form-control" />
                <span asp-validation-for="pedido.FechaPedido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="pedido.Total" class="control-label"></label>
                <input asp-for="pedido.Total" class="form-control" />
                <span asp-validation-for="pedido.Total" class="text-danger"></span>
        
            <div class="form-group">
                    <label asp-for="pedido.ProveedorId" class="control-label"></label>
                    <input asp-for="pedido.ProveedorId" class="form-control" />
                    <span asp-validation-for="pedido.ProveedorId" class="text-danger"></span>
            </div>
            <div class="form-group  mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="PedIndex" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }  

}