@page
@model RestoStockWeb.Pages.Ingredientes.IngCreateModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<h2>Ingredientes</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ingrediente.Nombre" class="control-label"></label>
                <input asp-for="ingrediente.Nombre" class="form-control" />
                <span asp-validation-for="ingrediente.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ingrediente.CantidadDisponible" class="control-label"></label>
                <input asp-for="ingrediente.CantidadDisponible" class="form-control" />
                <span asp-validation-for="ingrediente.CantidadDisponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ingrediente.UnidadMedida" class="control-label"></label>
                <input asp-for="ingrediente.UnidadMedida" class="form-control" />
                <span asp-validation-for="ingrediente.UnidadMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ingrediente.PrecioUnitario" class="control-label"></label>
                <input asp-for="ingrediente.PrecioUnitario" class="form-control" />
                <span asp-validation-for="ingrediente.PrecioUnitario" class="text-danger"></span>
            </div>

            <div class="form-group  mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }  

}